name = "epir-analytics-api-worker"
main = "src/index.ts"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"]

[vars]
CLOUDFLARE_ACCOUNT_ID = "73283c24dc79f92edef30dcdbc98f230"
AI_GATEWAY_ID = "epir-ai-gateway"

[placement]
mode = "smart"

[[d1_databases]]
binding = "WEB_PIXEL_EVENTS_DB"
database_name = "epir-web-pixel-events-db"
database_id = "bd3daeab-1853-48c8-8779-32b43a4a5a85"

[observability]
  traces.enabled = true
  logs.enabled = true
